language: go

os:
  - linux

go_import_path: github.com/okramlabs/howi

# Go Versions
go:
  - 1.8
  - 1.9
  - tip

# Jobs
allow_failures:
  - go: master

script:
  - go get github.com/mattn/goveralls
  - goveralls -service=travis-ci -ignore="cmd/**/*"
  - git status

# notifications
notifications:
  email: false
