language: go
# Go Versions
go:
  - 1.9
  - master
# notifications
notifications:
  email: false
# Jobs
jobs:
  fast_finish: true
  allow_failures:
    - go: master
  include:
    - stage: HOWI CI / CD
      script:
        - go run ./cmd/howi-ce/main.go devel cicd
        - go run ./cmd/howi-ce/main.go devel cicd --vars | grep TRAVIS
