language: go

go_import_path: github.com/okramlabs/howicli

# Go Versions
go:
  - 1.8.x
  - 1.9.x
  - tip
  - master

# Jobs
allow_failures:
  - go: master

script:
  - go get github.com/mattn/goveralls
  - goveralls -service=travis-ci

# notifications
notifications:
  email: false
