language: go
# Go Versions
go:
  - 1.9
  - master
# notifications
notifications:
  email: false
# Jobs
allow_failures:
  - go: master

script:
  - go run ./cmd/howi-ce/main.go devel cicd
  - go run ./cmd/howi-ce/main.go devel cicd --vars | grep TRAVIS
  - go run ./cmd/howi-ce/main.go devel cicd --vars | grep HOWI
