# https://circleci.com/docs/2.0/configuration-reference/
version: 2

# jobs
jobs:
  go-tests:
    working_directory: ~/go/src/github.com/okramlabs/howicli
    # environment:
    #   - GOPATH: ~/.go
    macos:
      xcode: "9.0"
    steps:
      # install dependencies
      - run:
          name: install dependencies
          command: |
            brew update
            brew prune
            brew upgrade go || brew install go

      # display go info
      - run:
          name: setup go
          command: |
            go env
            mkdir -p $(go env GOPATH)/{bin,pkg,src}

      # checkout the project
      - checkout

      # run the tests
      - run:
          name: run tests
          command: |
            go version
            go install -v ./...
            go test -v ./...

  # Build howicli from master or rc- branches
  build-howicli:
    macos:
      xcode: "9.0"
    steps:
      - run:
          name: build howicli
          command: echo "will build new osx version of howicli when pr is merged to master"

# Workflow configuration
workflows:
  version: 2
  # this workflows should only be executed when contibutor with push access to upstream
  # https://github.com/okramlabs/howicli has pushed commit directly to master
  member-push:
    jobs:
      - go-tests
      - build-howicli:
          requires:
            - go-tests
          filters:
            branches:
              only:
                - master
                - /rc-.*/
