phases:
########################################
# DEVELOPMENT             ##############
########################################
  development:
    only:
      - branches
    except:
      - master
      - /^*-alpha*/
      - /^*-beta*/
      - /^*-rc*/
########################################
# PRERELEASES             ##############
########################################
  prereleases:
    only:
      - /^*-alpha*/
      - /^*-beta*/
      - /^*-rc*/
    except:
      - tags
########################################
# STAGING                 ##############
########################################
  staging:
    only:
      - master
    except:
      - tags
########################################
# STABLE                  ##############
########################################
  stable:
    only:
      - tags

################################################################################
# *************************************************************** ##############
#                             TEST                                ##############
# *************************************************************** ##############
# Running automated tests like source code testing linting etc.   ##############
################################################################################
test-common:
  script:
    - go vet ./addon/...
    - go vet ./cmd/...
    - go vet ./lib/...
    - go vet ./std/...
    - go test -v -race ./addon/...
    - go test -v -race ./cmd/...
    - go test -v -race ./lib/...
    - go test -v -race ./std/...
test-staging:
  script:
    - echo "test-staging"
################################################################################
# *************************************************************** ##############
#                             BUILD                               ##############
# *************************************************************** ##############
# Build application or services                                   ##############
################################################################################
build-common:
  script:
    - echo "build-common"
build-staging:
  script:
    - echo "build-staging"
################################################################################
# *************************************************************** ##############
#                             DEPLOY                              ##############
# *************************************************************** ##############
# Deploy built docker image etc.                                  ##############
################################################################################
deploy-common:
  script:
    - echo "deploy-common"
deploy-staging:
  script:
    - echo "deploy-staging"
################################################################################
# *************************************************************** ##############
#                             ALWAYS                              ##############
# *************************************************************** ##############
# Jobs which should be executed always even when any previous     ##############
# jobs has failed                                                 ##############
#                                                                 ##############
################################################################################
always-common:
  script:
    - echo "always-common"
always-staging:
  script:
    - echo "always-staging"
################################################################################
# *************************************************************** ##############
#                             FAILURE                             ##############
# *************************************************************** ##############
# Jobs to run whenever any previous jobs failed                   ##############
#                                                                 ##############
################################################################################
failure-common:
  script:
    - echo "failure-common"
failure-staging:
  script:
    - echo "failure-staging"
################################################################################
# *************************************************************** ##############
#                             SUCCESS                             ##############
# *************************************************************** ##############
# Jobs to run only if pipline was successful                      ##############
#                                                                 ##############
################################################################################
success-common:
  script:
    - echo "success-common"
success-staging:
  script:
    - echo "success-staging"
